footer {
	background-color: $light-blue-container;
	height: auto;
	padding: 25px;

	img {
		margin-bottom: 20px;
	}


	span {
		font-size: 0.75em;
		text-transform: uppercase;
		display: inline-block;
		margin-right: 10px;

		&:last-child {
			margin-right: 0px;
		}

		@include media($large) {
			display: block;
		}
	}

	ul {
		margin: 0;
		padding-left: 0;

		li {
			display: inline-block;
			margin-right: 30px;


			&:last-child {
			margin-right: 0px;
			}

			img {
	

				@include media($large) {
					
				}
			}
		}
	}

	@include media($large) {
		padding: 50px;
	}
	

	@include media($desktop) {
		padding: 100px;
	}
}

.footer-container {
	max-width: 1100px;
	margin: 0 auto;
	display: block;
}

.footer-social {
	width: 50%;
	float: right;
	text-align: right;
}

.footer-copyright {
	width: 50%;
	float: left;
	display: inline-block;
}

.footer-social, .footer-copyright {
	@include media($large) {
		width: 100%;
		text-align: center;
		float: none;
	}
}