footer {
	background-color: $light-blue-container;
	text-align: center;
	height: auto;
	padding: 50px;

	img {
		margin-bottom: 20px;
	}

	p {

		&:last-child {
		margin-bottom: 0;

		}
	}

	img {
		max-width: 40px;
	}
}