button {
	padding: 12px 50px 12px 50px;
	background-color: $white-button;	
	font-family: $sans-font-stack;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 0px;
	font-size: .75em;
	letter-spacing: .1em;
	outline: none;
	border: none;
	@include transition(all .2s ease-in-out);

	&.gold {
		background-color: $gold-button;
		color: $pure-white;
	}
}

input[type=submit] {
    @extend button;
    @extend .gold;

    background-color: $gold-button !important;
    
}