/* button reset */

button {
	border: none;
	border-radius: 0px;
	width: 245px;
	font-family: $sans-font-stack;
	font-size: 0.75em;
	font-weight: 700;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 12px 50px 12px 50px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	@include transition(all 0.3s);

	&.white {
		border: 2px solid $pure-white;

		&:hover {
			background-color: $pure-white;
			color: $gold;
		}
	}

	&.gold {
		background-color: $gold;
		color: $pure-white;
		border: 2px solid $gold;

		&:hover {
			background-color: $pure-white;
			color: $gold;
		}
	}

	&:focus {
		outline: none;
	}

	&:after {
		content: ' ';
		position: absolute;
		z-index: -1;
		@include transition(all 0.3s);
	}

}


input[type=submit] {
    @extend button;
    @extend .gold;

    background-color: $gold !important;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 245px !important;
    padding: 12px 50px 12px 50px !important;
    border: 2px solid $gold !important;


    &:hover {
    	background-color: $pure-white !important;
    	border: 2px solid $gold;
    }
}




 

