/* HERO IMAGES */

.hero-bridge {
	// background: url('../../assets/img/hero-bridge.png') no-repeat center center;
		background: url('../../assets/img/hero-bridge.png')  50% 0 repeat fixed;

	// z-index: -1;
	// position: relative;
	// overflow: hidden;
	 height: 1000px; 
  	margin: 0 auto; 
  	width: 100%; 
  	max-width: 1920px; 
  	position: relative; 


	//@include mobile {
		//background-image: url('../../img/hero-boat-small.jpg');
	//}
}

.hero-mountain-range {
	background: url('../../assets/img/hero-mountain-range.png') no-repeat center center;
	//@include mobile {
		//background-image: url('../../img/hero-boat-small.jpg');
	//}
}

.hero-mountains {
	background: url('../../assets/img/hero-mountains.png') no-repeat center center;	
}

.hero-bridge2 {
	background: url('../../assets/img/hero-bridge2.jpeg') no-repeat center center;
}

.img-accent-rocks {
	background: url('../../assets/img/accent-rocks.png') no-repeat center center;
	background-size: cover;
}

.img-accent-suspension-bridge {
	background: url('../../assets/img/accent-suspension-bridge.jpeg') no-repeat center center;
	background-size: cover;
}

