/* HERO IMAGES */

.hero-bridge {
	// background: url('../../assets/img/hero-bridge.png') no-repeat center center;
	background: url('../../assets/img/hero-bridge.png')  50% 0 repeat fixed;
  	max-width: 1920px; 
  	position: relative; 


	//@include mobile {
		//background-image: url('../../img/hero-boat-small.jpg');
	//}
}

.hero-mountain-range {
	background: url('../../assets/img/hero-mountain-range.png') 50% 0 repeat fixed;
	max-width: 1920px; 
  	position: relative; 
	//@include mobile {
		//background-image: url('../../img/hero-boat-small.jpg');
	//}
}

.hero-mountains {
	background: url('../../assets/img/hero-mountains.png') 50% 0 repeat fixed;
	max-width: 1920px; 
  	position: relative; 	
}

.hero-bridge2 {
	background: url('../../assets/img/hero-bridge2.jpeg') 50% 0 repeat fixed;
	max-width: 1920px; 
  	position: relative; 
}

.img-accent-rocks {
	background: url('../../assets/img/accent-rocks.png') no-repeat center center;
	background-size: cover;
}

.img-accent-suspension-bridge {
	background: url('../../assets/img/accent-suspension-bridge.jpeg') no-repeat center center;
	background-size: cover;
}

