 a {
 	font: 100% $sans-font-stack;
 	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 1em;
 }

.main-nav-links-container {
	a {
		color: $main-nav-link-color;
		position: relative;
		@include transition(0.3s);

		&:hover {
			color: $main-nav-link-color-active;
					
					&:after {
						opacity: 0.8;
						@include transform(translateY(0px));
					}
					&:before {
						opacity: 0.8;
						@include transform(translateY(0px));
					}
		}

		&:before {
			content: '';
			left: 0;
			height: 2px;
			margin-bottom: 3px;
			width: 100%;
			background: $main-nav-link-color-active;
			position: absolute;
			bottom: 100%;
			opacity: 0;

			@include transition(opacity 0.3s);
			@include transition(0.3s);
			@include transform(translateY(-10px));

		}

		&:after {
			content: '';
			left: 0;
			height: 2px;
			margin-top:2px;
			width: 100%;
			background: $main-nav-link-color-active;
			position: absolute;
			top: 100%;
			opacity: 0;

			@include transition(opacity 0.3s);
			@include transition(0.3s);
			@include transform(translateY(10px));

		}
	}
}

.sub-link {
	color: $sub-link-color;
	font-size: 0.75em;
	@include transition(0.3s);

	&:after {
		content: ' >>';
	}

	&:hover {
		color: $sub-link-color-active;
	}
}

.sub-nav-link {
	color: $sub-nav-link-color;
	font-size: 1em;
}