ul {
	&.services-list-data {
		li {
			&:before {
    		content: "▪ ";
    		color: white;
			}
		}
	}

	&.terms {
		color: $body-font-color-dark;

		li {
			&:before {
				content: "▪ ";
				color: $body-font-color-dark;
			}
		}
	}

}