// Main Color Hex Codes

$darkest-blue: #0F1319;
$dark-blue: #1C2634;
$blue: #3D5568;
$light-blue: #6F849C;
$gold: #D3A031;
$burnt-gold: #92702F;
$brown: #514122;
$blue-black: #0B0C0A;
$grey-white: #ECECEC;
$pure-white: #FFFFFF;
$pure-black: #000000;

// Corresponding Component Colors

$body-background: $grey-white;
$main-nav-background: $pure-white;
$main-nav-link-color: $blue;
$main-nav-link-color-active: $light-blue;
$sub-link-color: $light-blue;
$sub-link-color-active: $pure-white;
$sub-nav-link-color: $pure-white;



// Font Colors


$main-body-font-color: $pure-white;
$body-font-color-lightest: $pure-white;
$body-font-color-blue: $light-blue;
$body-font-color-dark: $blue-black;
$hero-font-color: $pure-white;
$heading-font-color-light: $pure-white;
$heading-font-color-gold: $gold;
$heading-font-color-blue: $blue;
$form-label-color-gold: $gold;

// Container Colors

$darkest-blue-container: $darkest-blue;
$dark-blue-container: $dark-blue;
$blue-container: $blue;
$light-blue-container: $light-blue;
$gold-container: $gold;
$light-container: $pure-white;

// Button Colors 

$gold-button: $gold;
$white-button: $pure-white;